*{
    box-sizing: border-box;
}
.bckimg{
    background-image: url("../iQFcwSGbZXMkeyKrxbPnwnRo5fl.jpg");
    width: 100%;
    height: 600px;
    
    color: white;
    font-style: bold;
}
.content{
    margin-left: 40px;
    position: absolute;
    bottom: 40px;
    font-family: Abel, sans-serif;
}
h2{
    font-size: 48px;
}
p{
    font-size: 22px;
}
@media only screen and (min-width:360px){
    .content{
        margin-left: 40px;
        position: absolute;
        bottom: 40px;
        font-family: Abel, sans-serif;
    }
}